.DS_Store
**/.DS_Store
**/xcuserdata
**/.vscode
**/.idea
**/cmake-build*
**/obj
**/.vs
**/bin/*.dll
**/bin/*.exe
**/bin/*.exp
**/bin/*.ilk
**/bin/*.lib
**/bin/*.pdb
**/bin/*.so
**/*.vcxproj.user
**/addons/**/*.obj
**/obj/
.DS_Store
**/.DS_Store
**/bin/*.app
**/xcuserdata
**/camera.settings
**/videos
**/imgui.ini
**/*.idb
**/*.mp4
**/.idea
**/*crash*.json

